*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    gap: 10px;
}

.container form{
    padding: 45px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 5px 5px 6px #2f2d2dc6;
    background-color: #DDDDDD;
    border: 1px solid #A31ACB;
}

.container form tr td{
    display: block;
    margin: 10px 0 5px 0; 
    font-weight: bold;
    font-size: 16px;
    color: #804674;
}

.container form tr td input[type="text"]{
    width: 100%;
    padding: 10px 5px;
    border-radius: 10px;
    border: 1px solid #c8659b;
}

.container form tr td input[type="submit"]{
    display: block;
    margin: 25px auto 0 auto;
    width: 100%;
    border-radius: 10px;
    padding: 5px 0;
    border: 1px solid black;
    background-color: #f1e1c4;
} 

.container form input[type="submit"]:hover{
    background-color: #cb9cc3;
}